body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.nav {
    position: fixed;
    top: 0;
    left: -8px;
    width: var(--nav-width);
    height: 100vh;
    background: #F13C3C;
    border-radius: 10px;

}

.nav__link {
    display: block;
    padding:12px 18px;
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    /*text-align: center;*/
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #AF601A;
}

.form_hidden{
    display: none;
}

/* CSS for Home page*/
.home_cont{
    display: inline-block;
    border-radius: 10px;
    width: 450px;
    max-width: 500px;
    margin: 0;
    padding: 0;
    /*box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);*/
    background: #ffffff;
}

.home_title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 1px;
}

.home_message{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

.home_input[type=text],select{
    width: 100%;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 100px;
    box-sizing: border-box;
    outline: none;
}
.home_button{
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
}

.home_results{
    display: inline-block;
    border-radius: 10px;
    width: 450px;
    max-width: 450px;
    margin: 1rem;
    padding: 2rem;
    /*box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);*/
    background: #ffffff;
}

/*CSS for Records Page*/

.record_cont{
    display: inline-block;
    border-radius: 10px;
    width: 1070px;
    max-width: 1070px;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.share_button{
    width: 300px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

table{
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}
th {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

td{
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}